<section class="container">
  <h1 class="page-title">About Us</h1>
  <div class="col-lg-12 content" id="about-content">
    <p class="subtitle h3">Mission</p>
    <p>Get Well Africa is a healthcare initiative.</p>
    <p class="subtitle h3">Goals and Mission</p>
    <p class="goals">Bridge gap in the healthcare outcomes between developed nations and Africa through:</p>
    <ul>
      <li>Medical eduation of personnel (physicians, nurses, community health workers,
        traditional headlers, and administrators)</li>
      <li>Donation of equipment nad supplies to support their network</li>
      <li>Exchange program</li>
      <li>Building collaborative community health centers focused primarily on preventative
        medicine</li>
    </ul>
    <p class="goals">Conduct community health fairs focused on issues such as:</p>
    <ul>
      <li>Vaccination</li>
      <li>Hypertension</li>
      <li>Malnutrition</li>
      <li>Reproductive health (including cancer and STI screenings)</li>
    </ul>
    <p class="goals">Perform research to help guide the direction and focus of the initiatives</p>
  </div>
  <div class="col-lg-6"></div>
</section>
