<section class="container" id="bios">
  <h1 class="page-title">Who We Are</h1>
  <div class="row">
    <div class="col-lg-8 content">
      <p class="subtitle h3">Chinedu Nwabuobi MD, MS</p>
      <p>Dr. Chinedu Nwabuobi was born and raised in Nigeria. He moved to the United States in 2002 where he completed the remainder of his high school education.
        He received his Bachelors of Science degree in Biology from Purchase College. He then obtained his Masters of Science in Medical Technology from Upstate Medical
        University. He attended Albert Einstein College of Medicine where he received his Doctor of Medicine degree. Due to subpar women's health care and high maternal
        mortality rate that plagued Nigeria and Africa as a whole, Dr. Nwabuobi decided to specialize in Obstetrics and Gynecology. This was his way to contribute to
        address the women's health crisis in his country of birth. He completed an Obstetrics and Gynecology residency at University of Rochester Medical Center followed by
        a fellowship in Maternal Fetal Medicine at the University of South Florida. Dr. Nwabuobi is passionate about global health, particularly as it relates to the continent
        of Africa. He believes that the problem with the continent is not just the brain drain but something he's called "brain starvation". He believes there are ambitious
        minds in the continent of Africa who yearn for knowledge daily. He also believes that just going on medical missions to perform surgeries or treat the sick is not the
        answer. Instead, investing in the education of the already existing medical personnel will provide the people with a quality health care and improved access. This is
        what Get Well Africa stands for.</p>
    </div>
    <div class="col-lg-4">
      <img src="/modules/core/img/chinedu.jpg" alt="a picture of Chinedu Nwabuobi MD, MS"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="/modules/core/img/sharon.png" alt="a picture of Sharon Bolaji Thomas RN, BSN"/>
    </div>
    <div class="col-lg-8 content" id="sharon">
      <p class="subtitle h3">Sharon Bolaji Thomas RN, BSN</p>
      <p>Nurse Sharon was born and raised in Nigeria. She underwent her secondary school training in Nigeria. This was followed by a Nursing degree at Lagos University Teaching
        Hospital. She migrated to the United States and worked as a Labor and Delivery nurse at Temple University Hospital in Philadelphia before she settled in Rochester, New
        York. She is currently a Labor and Delivery nurse at the University of Rochester Medical Center while completing a Nurse Practitioner program at St. John Fisher College
        in Rochester, New York. Though she has spent most of her career in women's health, her passion is in the care of the elderly. She believes that the elderly are a neglected
        group especially in Africa. She wants to invest her time in improving geriatric care in Africa through education. </p>
    </div>
  </div>
</section>
