<section id="footer">
    <div class="container">
        <div class="col-lg-6">
            <p class="info">+1 888. 888. 8888</p>
            <p class="info">hi@getwellafrica.com</p>
            <p class="icons info">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook-official"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-envelope-o"></i>
                <i class="fa fa-youtube-play"></i>
            </p>
            <h6 class="info">Twitter Feed</h6>
        </div>
        <div class="col-lg-6 footer-logo">
            <img src="/modules/core/img/Logo.svg" alt="Get Well Africa logo" height="300" width="300"/>
        </div>
    </div>
</section>
