#core {
  position: relative;
  background: #ffffff url("modules/core/img/Picture1.png") repeat;
  height: 90vh;
  overflow: hidden;
  padding-top: 5em;
}

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#core * {
  position: relative;
}